@import "~@angular/material/theming";

.principal-container {
  display: flex;
  height: 100%;
  margin: auto 10px;
}

.principal-card {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(250, 250, 250, 0.4);
  -webkit-backdrop-filter: blur(10px);
}

.form-input {
  font-family: 'Raleway', sans-serif;
  width: 90%;
}

mat-card-title {
  font-weight: bolder;
  color: white;
  font-size: 25pt !important;
  text-align: left;
}

mat-card-subtitle {
  font-weight: normal;
  color: white;
  font-size: 16pt !important;
  text-align: left;
}

button {
  width: 87%;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.btn-login {
  overflow: hidden; // necessary for the map-ripple
  float: right;
  color: white;
  background-image: linear-gradient(to top, #2c94f9, #1790fb);
  @include mat-elevation(8, #2c94f9, 1);
}
