/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  $form-field-theme: mat-light-theme(mat-palette($mat-indigo, 50, 100), mat-palette($mat-indigo, 50, 100), mat-palette($mat-red));
  @include mat-form-field-theme($form-field-theme);
  @include mat-input-theme($form-field-theme);
  $progress-bar-theme: mat-light-theme(mat-palette($mat-indigo, 500, 50), mat-palette($mat-indigo, 500, 50), mat-palette($mat-indigo, 500, 50));
  // @include mat-progress-bar-theme($progress-bar-theme);
}
