<div class="background-container"></div> <!--Background-->
<div class="principal-container">
  <app-menu></app-menu>
  <div class="your-latest-tracks-container">
    <div class="bar-last-tracks">
      <span>Recently Played Tracks</span>
      <button mat-button mat-raised-button>
        <mat-icon>playlist_add</mat-icon>
        Add playlist to Spotify
      </button>
    </div>
    <mat-card [class.mat-elevation-z5]="true">
      <mat-card-content>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item>
            <span class="number-track">1 -</span>
            <div class="track-container">
              <div class="image-track" [ngStyle]="{'background-image':'url(https://i.scdn.co/image/bba91cba8ed89b5e0555b9447d9514c9f3ab90f6)'}"></div>
              <div class="info-track">
                <div class="title-track">
                  <span>It Is Not Meant To Be</span>
                  <div class="duration-track"><span><i>(5:21 min)</i></span></div>
                </div>
                <div class="album-track"><span>InnerSpeaker</span></div>
                <div class="artists-track"><span>Tame Impala</span></div>
                <div class="options-track-container">
                  <button mat-button class="play-spotify"><mat-icon>play_arrow</mat-icon> Play on <img src="../../../assets/images/spotify-brand.svg" width="75px" style="transform: translateY(0px);"></button>
                </div>
              </div>
            </div>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
