@import "~@angular/material/theming";

.principal-container {
  width: 100%;
  min-height: 100vh;
}

.background-container {
  background-image: url("../../assets/images/max-delsid-8I6OcgjAOGg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(0.3) brightness(0.4);
  height: 100%;
  width: 100%;
  position: fixed;
}

.your-latest-tracks-container {
  width: 50%;
  margin: auto;
  min-width: 600px;
  padding: 15px;
}

mat-card {
  padding: 0 !important;
  background-color: rgba(250, 250, 250, 0.4);
}

mat-nav-list {
  padding: 0;
}

mat-nav-list > a {
  height: 180px;
  width: 100%;
}

.bar-last-tracks {
  color: white;
  font-size: 25pt;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  position: relative;
  padding: 20px 0;
}

.bar-last-tracks > button {
  float: right;
  color: white;
  background-image: linear-gradient(to top, #2c94f9, #1790fb);
  @include mat-elevation(8, #2c94f9, 1);
  overflow: hidden;
}

.playlist-options {
  float: left;
}

.image-track {
  width: 130px;
  height: 130px;
  background-color: dimgray;
  background-position: center;
  background-size: cover;
  float: left;
  margin: auto;
}

.track-container {
  padding: 20px;
  margin: auto 0px;
  display: flex;
}

.info-track {
  float: left;
  font-family: 'Raleway', sans-serif;
  margin-left: 15px;
}

.title-track {
  float: left;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 17pt;
  display: flex;
}

.duration-track {
  float: right;
  color: #414141;
  font-size: 10pt;
  margin: auto 15px;
}

.album-track {
  color: whitesmoke;
  font-size: 14pt;
  font-weight: bolder;
}

.artists-track {
  font-size: 12pt;
  font-weight: bolder;
  color: #414141;
  margin-top: 15px;
}

.play-spotify {
  margin-top: 15px;
  color: white;
  background-image: linear-gradient(to top, #20d760, #1DB954);
  @include mat-elevation(8, #20d760, 1);
  overflow: hidden;
}

.number-track {
  position: relative;
  left: -80px;
  font-size: 20pt;
  margin-right: -30px;
  color: white;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
}
